<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<link rel="stylesheet" th:href="@{/style.css}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Livros</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1> Cadastro de Livro - Books</h1>
    <form th:action="@{'/books/formulario'}" method="POST">
        <input type="hidden" name="_method" value="put" th:if="${book!=null}">
        <input type="hidden" name="id" th:value="${book?.id}">

        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" th:value="${book?.nome}" required>
        </div>
        <br/>
        <br/>
        <div>
            <label for="genero">Gênero:</label>
            <input type="text" id="genero" name="genero" th:value="${book?.genero}" required>
        </div>
        <br/>
        <br/>
        <input type="submit" th:value="${book == null ? 'Cadastrar' : 'Atualizar'}">
    </form>

    <br>
    <form action="listagem" method="get">
        <input type="submit" value="Listar Todos os Livros">
    </form>
</div>
</body>
</html>
