<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">

    <link rel="stylesheet" th:href="@{/style.css}">
<head>
    <meta charset="UTF-8">

    <title>Listagem dos Livros</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Listagem dos livros - Books</h1>
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Genero</th>
            <th>Editar</th>
            <th>Deletar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${lista}">
            <td th:text="${book.nome}"></td>
            <td th:text="${book.genero}"></td>
            <td>
                <a th:href="@{/books/formulario?id={id}(id=${book.id})}">Editar</a>
            </td>
            <td>
                <form action="/books" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <input type="hidden" name="id" th:value="${book.id}"/>
                    <input type="submit" value="Excluir" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="formulario" method="get">
        <input type="submit" value="Cadastrar Livro">
    </form>
</div>
</body>
</html>